* {
  margin: 0;
}
.color-line {
  font-size: 4rem;
  font-family: cursive;
  font-style: italic;
  color: palevioletred;
  text-decoration: underline;
}

.hid {
  padding-top: 50%;
  display: none;
}

body {
  background-image: url("./img/main.jpg");
  background-repeat: no-repeat;
}

.main-body {
  display: flex;
  margin: 6rem;
}

.side-text {
  font-family: cursive;
  font-style: italic;
}

h2 {
  padding-left: 10rem;
}

.streak {
  font-weight: bold;
  color: rgb(255, 196, 0);
  padding-left: 10vw;
}

img {
  height: 250px;
  padding-left: 16rem;
}

.water-pic {
  padding-left: 8rem;
  padding-right: 18%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  /* font-style: bold; */
  color: rgb(11, 183, 226);
}

.maroBc {
  padding-left: 8rem;
  padding-right: 18%;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(164, 235, 235, 0.328);
  color: rgb(90, 11, 226);
}

.others {
  margin-top: 5rem;
  padding: 1rem;
  font-size: 4rem;
  display: flex;
  justify-content: space-between;
}
